@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Tilt+Neon&family=Tilt+Prism&display=swap');

.nav{
  background-color: #118ab2;
}

.navContent{
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.linkContent{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.mainButton{
  background-color: #ef476f;
  color: #073b4c;
  text-decoration: none;
  border: none;
  padding: 12px;
  font-size: 26px;
  font-family: 'Nabla', cursive;
  border-radius: 22px;
}

.mainButton:hover{
  transition: 0.6s;
  background-color: #06d6a0;
}